<h1>New clinic</h1>

<br>
    <%= form_for @clinic do |f| %>

  <div class="form-columns">
    <div class="form-column">
      <div class="field">
        <p><%= f.label :name %>
          <%= f.text_field :name %>
        </p>
      </div>
      <div class="field">
        <p>
          <%= f.label :address %>
          <%= f.text_field :address %>
        </p>
      </div>

    <div class="form-column">
      <div class="field">
        <p>
          <%= f.label :phone %>
          <%= f.text_field :phone %>
        </p>
      </div>
      <div class="form-column">
        <div class="field">
          <p>
            <%= f.label :year_founded %>
            <%= f.text_field :year_founded  %>
          </p>
        </div>
    </div>

      <%= f.submit "Create" %>
    <% end %>

  <p> <%= link_to "Back to clinics", clinics_path %></p>
</div>
</div>
</div>